{% extends 'base.html.twig' %}

{% block title %}Hello SampleController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="tw-text-center tw-text-xl tw-mt-8">Hello {{ controller_name }}!</h1>
</div>
{% endblock %}
